main {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 83px 0 97px;
}
form {
    width: 493px;
}
form fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
form h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #FF4081;
    margin-bottom: 44px;
}
form input {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #686868;
    padding: 0px 33.75px;
    height: 48.65px;
    outline: 0;
    color: #58555D;
    transition: box-shadow 0.4s ease;
}

form input:not(:last-child) {
    margin-bottom: 15px;
}
form input:focus, form textarea:focus {
    box-shadow: 0px 0px 7px #686868;
}
form textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    /* width: 749px; */
    height: 193px;
    border-radius: 7px;
    resize: none;
    border: 1px solid #686868;
    padding: 16px 33.75px;
    outline: 0;
    transition: box-shadow 0.4s ease;
}
form #botao {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    background-color: #FF4081;
    color: #fff;
    font-size: 16px;
    padding: 15px 60px;
    width: 164px;
    border-radius: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

form #botao:hover {
    background-color: #ce3f6e;
}

.screen-reader-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

img {
    width: 444px;
    height: 444px;
}

@media screen and (max-width: 1250px) {
    main {
        justify-content: center;
        gap: 40px;
        align-items: center;
    }
    img {
        width: 30vw;
        height:  30vw;
    }
}
@media screen and (max-width: 980px) {
    main {
        padding-right: 30px;
        padding-left: 30px;
    }
    img {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    form {
        text-align: center;
    }
    form #botao {
        width: auto;
    }
}