main {
    padding: 81px 130px 202px;
    max-width: 1440px;
    margin: 0 auto;
}
main > h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    text-transform: capitalize;
    color: #FF4081;
    
}
main > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
main .item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 40px;
    padding: 107px 10px 93px 10px;
}
main .item:first-of-type {
    padding-top: 95px
}
main .item:not(:last-child) {
    border-bottom: 5px solid #C4C4C4;
}
main .item img {
    width: 380px;
    height: 381px;
}
main .item div h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    margin-bottom: 37px;
    margin-top: 16px;
}
main .item div p {
    max-width: 724px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    max-width: 724px;
    margin-bottom: 53px;
}
main .item div a {
    display: inline-block;
    background-color: #419488;
    color: #fff;
    padding: 14px 39px;
    border-radius: 62px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
main .item div a:hover {
    background-color: #58a599;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.modal .modal-window {
    background-color: #fff;
    width: 1016px;
    height: 606px;
    padding: 106px 40px 91px;
    display: flex;
    justify-content: center;
    position: relative;
    /* overflow-y: auto; */
}
.modal .modal-window .close {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    line-height: 34px;
    position: absolute;
    top: 28px;
    right: 22px;
    cursor: pointer;
}
.modal .modal-window img {
    margin-top: 20px;
    margin-right: 52px;
    width: 346px;
    height: 347px;
}
.modal .modal-window .text h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    margin-bottom: 43px;
}
.modal .modal-window .text p {
    max-width: 472px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.modal .modal-window .text a{
    margin-top: 16px;
    color: #000;
    background-color: #C4C4C4;
    display: inline-block;
    padding: 10px 17px;
    border-radius: 79px;
    text-align: center;
}

@media screen and (max-width: 1016px){
    .modal .modal-window {
        background-color: #fff;
        width: 100%;
        height:90%;
        padding: 0 40px 0;
        align-items: center;
    }
    .modal .modal-window img {
        margin-top: 0px;
        margin-right: 30px;
        width: 280px;
        height: 280px;
    }
    .modal .modal-window .text h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    
    .modal .modal-window .text a{
        margin-top: 15px;
    }
}

@media screen and (max-width: 925px) {
    main {
        text-align: center;
        padding: 81px 30px 202px;
        max-width: 1440px;
        margin: 0 auto;
    }
    .modal .modal-window .text {
        text-align: left;
    }
    .modal .modal-window .close {
        width: 23px;
        height: 23px;
        line-height: 20px;
        font-size: 13px;
        top: 17px;
        right: 17px;
    }
    main .item {
        flex-direction: column;
        align-items: center;
        padding: 107px 0px 93px 0px;
    }
    main .item div {
        text-align: center;
    }
    main .item img {
        width: 310px;
        height: 310px;
    }
}
@media screen and (max-width: 740px) {
    .modal .modal-window .text p {
        font-size: 15px;
        line-height: 15px;
    }
    .modal .modal-window img {
        margin-top: 0px;
        margin-right: 30px;
        width: 220px;
        height: 220px;
    }
}
@media screen and (max-width: 540px) {
    .modal .modal-window img {
        display: none;
    }
    .modal .modal-window .text {
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    main .item img {
        width: 100%;
        height: auto;
    }
    main {
        padding: 81px 20px 90px;
    }
}